* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(#16384c, rgb(47, 50, 95), #2f495f);
  min-height: 500px;
}
.big-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/* Small Screen */
@media (min-width: 768px) {
  .big-container {
    width: 750px;
  }
}
/* Meduim Screen */
@media (min-width: 992px) {
  .big-container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .big-container {
    width: 1170px;
  }
}

h1 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin: 20px auto;
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 992px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 25px;
    margin: 10px auto;
    width: 100%;
  }
  span {
    display: block;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
@media (max-width: 767px) {
  img {
    max-width: 100%;
    border-radius: 10px;
  }
}
.card {
  margin-top: 60px;
  background-color: #fff;
  position: relative;
  height: 300px;
  width: 400px;
  border-radius: 10px;
  transition: all 0.5s;
}
.card:hover {
  height: 350px;
}
.image {
  position: relative;
  top: -50px;
}
img {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  transition: all 1s;
}
h2 {
  font-size: 22px;
  padding: 8px;
}
.text {
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 10px;
}
p {
  font-size: 17px;
  line-height: 1.8;
}

.card:hover img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transform: rotate(720deg);
}
.card:hover .text {
  opacity: 1;
}
